body {
    background-color: #333;
    font-family: sans-serif;
    padding: 20px;
}

#map {
    width: 500px;
    height: 500px;
    border: 5px solid #666;
    position: absolute;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#map div {
    width: 48px;
    height: 48px;
    border: 1px solid #595;
    float: left;
}

#map div.pacman {
    background-image: url(img/pacman.png);
}

#map div.pacman.exploding{
    background-image: url(img/explosion.gif), url(img/pacman.png);
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%;
}

#map div.pacman.healing{
    background-image: url(img/healing.gif), url(img/pacman.png);
    background-size: 150% 150%, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%;
    background-blend-mode: saturation;
}

.right {
    transform: rotate(0);
}
.down {
    transform: rotate(90deg);
}
.left {
    transform: scaleX(-1);
}
.up {
    transform: rotate(270deg);
}


#map div.cherry {
    background-image: url(img/cherry.png);
}

#map div.bomb {
    background-image: url(img/bomb.png);
}

#status{
    position: absolute;
    top: 50px;
    /* bottom: 0; */
    left: 50px;
    /* right: 0; */
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #595;
}