#map{
    border: 1px solid #aaa;
}

#land{
    border-bottom: 5px solid burlywood;
    display: flex;
}
#sky{
    background-color: lightcyan;
}
.dino{
    border: 1px solid #999;
    background-image: url(images/rex.png);
    width: 48px;
    height: 48px;
    /* transform: rotateY(180deg); */               /* Works as 'transform' below */
    transform: scaleX(-1);
    /* display: inline-block; */
}
.cactus{
    border: 1px solid #999;
    background-image: url(images/cactus.png);
    width: 48px;
    height: 48px;
    /* display: inline-block; */
}
.cloud{
    border: 1px solid #999;
    background-image: url(images/cloud.png);
    width: 48px;
    height: 48px;
}
.empty{
    border: 1px solid #999;
    width: 48px;
    height: 48px;
}
.meat{
    border: 1px solid #999;
    background-image: url(images/meat.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    width: 48px;
    height: 48px;
}