        * {
            box-sizing: border-box;
        }

        body {
            margin: 100px auto;
            /* min-height: 100vh; */
            background: #f2f2f2;
        }

        #product-grid {
            padding: 0;
        }

        #product-grid>.row {
            margin: 0;
        }

        .col-md {
            margin: 20px 20px 20px;
            padding: 0 30px 0 !important;
            overflow: hidden;
            border-radius: 20px 20px 20px 20px;
            min-width: 300px;
            max-width: 340px;
            transition: box-shadow 0.3s;
            box-shadow: 6px 6px 12px #d0d0d0,
                -6px -6px 12px #ffffff;
        }

        .col-md:hover {
            box-shadow: 2px 2px 6px #d0d0d0,
                -2px -2px 6px #ffffff;
        }
        
        .col-md .img-container {
            position: relative;
            width: 100%;
            margin: auto;
            border-radius: 0 0 10px 10px;
            overflow: hidden;
            min-height: 200px;
            max-height: 200px;
            padding: 0 4px 4px;
            box-shadow: inset 3px -2px 6px #d0d0d0,
            inset -6px -6px 6px #ffffff;
        }
        
        .col-md .img-container .img {
            width: 100%;
            border-radius: 0 0 7px 7px;
        }
        
        .col-md .owl-carousel {
            min-height: inherit !important;
        }
        
        .owl-nav {
            font-size: 30px;
            color: white;
            position: absolute;
            width: 100%;
            bottom: 0;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }
        
        .owl-nav button {
            background-color: rgba(255, 255, 255, 0.3) !important;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 6px 12px;
            outline: none;
            transition: background-color 0.2s;
        }
        
        .owl-nav button span{
            transform: translateY(-5px);
            display: inline-block;
        }

        .owl-nav button.owl-prev {
            order: 1;
        }
        
        .owl-nav button.owl-next {
        }

        .owl-nav button:hover {
            background-color: rgba(255, 255, 255, 0.6) !important;
        }

        .owl-item img {
            transform: scale(0.6, 0.6);
            transition: transform 0.6s;
        }

        .owl-item.active img{
            transform: scale(1);
        }
        
        .col-md .info-container {
            position: relative;
            border-top: none;
            padding: 18px 5px;
            border-radius: 0 0 20px 20px;
            color: rgb(185, 185, 185);
            /* margin-bottom: 40px; */
        }   
        
        .col-md .info-container h4 {
            color: rgb(199, 199, 199);
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
            -1px -1px 0 rgba(0, 0, 0, 0.03);
            transition: all 0.35s;
            transition-delay: 0.05s;
            margin-bottom: 4px;
            font-weight: normal;
            width: calc(100% - 70px);
            text-shadow: 0 0 0px rgba(0, 168, 219, 0.6),
                         0 0 0px rgba(0, 168, 219, 0.1);

        }

        .col-md:hover .info-container h4 {
            color: rgba(0, 168, 219, 0.8);
            text-shadow: 0 0 2px rgba(0, 168, 219, 0.6),
                         0 0 7px rgba(0, 168, 219, 0.1);
        }
        
        .col-md .info-container h6 {
            width: calc(100% - 70px);
            font-weight: normal;
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
            -1px -1px 0 rgba(0, 0, 0, 0.03);
        }

        .qty-container {
            overflow: hidden;
            width: 48px;
            height: 48px;
            position: absolute;
            padding-top: 1px;
            top: 22px;
            right: 5px;
            border-radius: 75px;
            font-size: 13px;
            color: lightgrey;
            text-align: center;
            border-radius: 50%;
            background: linear-gradient(145deg, #e0e0e0, #ffffff);
            box-shadow: -3px -3px 4px #dbdbdb,
                3px 3px 4px #ffffff;
        }

        .qty-container p:not(.preloader) {
            color: lightgrey;
            margin-bottom: 0;
            opacity: 0;
            transition: transform 0.2s, color 0.25s, opacity 0.3s;
            transition-delay: 0.05s, 0.04s, 0s;
        }

        .qty-container p.quantity {
            transform: translateY(-150%);
            /* color:rgba(0, 168, 219, 0.666); */
        }

        .qty-container p.txt-qty {
            transform: translateY(200%);
        }

        .col-md:hover .qty-container p {
            transform: translateX(0%);
            color: rgba(28, 187, 236, 0.897);
            opacity: 1;
        }

        .qty-container .quantity {
            padding-top: 4px;
            font-size: 16px;
            line-height: 16px;
        }

        .qty-container .preloader {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 8%;
            height: 8%;
            background-color: rgba(0, 212, 219, 0.2);
            border-radius: 50%;
            animation: levitate 1.5s linear infinite;
            /* animation-fill-mode: forwards; */
            /* animation-direction: alternate; */
            transition: height 0.3s, width 0.3s;
        }
        @keyframes levitate {
            0% {
                transform:translateY(0px) translateX(-1px);
            }
            25% {
                transform:translateY(-1px) translateX(0px);
            }
            50% {
                transform:translateY(0px) translateX(1px);
            }
            75% {
                transform:translateY(1px) translateX(0px);
            }
            100% {
                transform: translateY(0px) translateX(-1px);
            }
        }
        .col-md:hover .qty-container .preloader{
            height: 0%;
            width: 100%;
        }
/* 
        .price-container{
            width: 130px;
            height: 130px;
            background: #000;
            border-radius: 50%;
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            margin: auto;
        } */